%input#gallery_title{:name => 'gallery[title]'}
%input#gallery_submit{:name => 'submit', :type => 'submit', :value => 'Create'}
%input#gallery_method{:name => '_method', :type => 'hidden', :value => 'post'}
%input#gallery_id{:name => 'gallery[id]', :type => 'hidden'}