#gallery_fields
  - form_for :gallery, :url => admin_galleries_path(:format => 'js'), :html => { :method => "post", :multipart => true, :target => 'gallery_frame', :id => 'gallery_form' } do |form|
    = render :partial => 'fields'
#gallery_items
  %span.note you can drag these items around to reorder them
  %ul#gallery_items_list
    %li#gallery_items_list_empty.gallery_item{:'data-item_id' => nil}
      %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
      %span.title Drag Items Over
#gallery_items_alt
  %span.note Once you have created the gallery you can start adding items
  
%iframe#gallery_form{ :name => 'gallery_frame', :src => "about:blank" }