= hidden_field_tag 'admin_galleries_path', admin_galleries_path
= hidden_field_tag 'admin_galleries_assets_path', admin_galleries_assets_path
= hidden_field_tag 'admin_galleries_items_path', admin_galleries_items_path