%input{:id=>'galleries_path', :value => admin_galleries_path, :type => 'hidden'}
%input{:id=>'gallery_assets_path', :value => admin_gallery_assets_path, :type => 'hidden'}
%input{:id=>'gallery_items_path', :value => admin_gallery_items_path, :type => 'hidden'}