- @page_title = 'Galleries - ' + default_page_title
= render 'head'

#galleries_content

  %h2 Galleries
  %p Galleries let you organise items you want your visitors to see
  
  #galleries
    #gallery_create.gallery
      %span.title New Gallery
    - unless @galleries.empty?
      %ul#galleries_list
        - @galleries.each do |gallery|
          %li.gallery
            %span.title= gallery.title
      
  #gallery
    #gallery_fields
      %input#gallery_title{:name => 'gallery[title]'}
      %input#gallery_id{:name => 'gallery[id]', :type => 'hidden'}
    #gallery_items
      %span.note you can drag these items around to reorder them
      %ul#gallery_items_list
        %li#gallery_items_list_empty.gallery_item
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Drag Items Over
        %li#gallery_item_1.gallery_item
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Some Item
        %li#gallery_item_2.gallery_item
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Some Item
        %li#gallery_item_3.gallery_item
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Some Item          
        %li#gallery_item_4.gallery_item
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Some Item
      #gallery_items_remove
        %span.title you can drop an item here to remove it
              
#assets_content

  %h2 Items
  %p The following items can be dragged into the gallery
  
  #assets
  
    #asset_create.asset
      %span.title New Item
  
    %ul#assets_list
      -# unless @assets.empty?
        = render :partial => 'assets', :collection => @assets
      %li#assets_empty.asset
        %span.title No Items Available
        %sapn.caption Create a new item to get started