%li.asset{:id => "asset_#{asset.id}", :'data-item_id' => nil, :'data-asset_id' => asset.id}
  %img{:src => asset.thumbnail(:thumbnail), :alt => 'no image'}
  %span.title= asset.title
  %span.caption= asset.caption