%script{:src => '/javascripts/admin/dragdrop.js', :type => 'text/javascript'}
%script{:src => '/javascripts/admin/galleries.js', :type => 'text/javascript'}
%link{:href => '/stylesheets/admin/galleries.sass', :rel => 'stylesheet', :type => 'text/css'}