- @selected = :galleries
- @title = 'Galleries - Radiant CMS - Publishing for Small Teams'
- content_for :meta do 
  = render :partial => 'head'
  
#galleries_content

  %h2 Galleries
  %p Galleries let you organise items you want your visitors to see

  #galleries
    #gallery_create.gallery{:'data-id' => nil, :'data-title' => ''}
      %span.title New Gallery
    %ul#galleries_list
      %li.gallery{:'data-id' => 1, :'data-title' => 'Guys'}
        %span.title Guys
      %li.gallery{:'data-id' => 2, :'data-title' => 'Gals'}
        %span.title Gals
      %li.gallery{:'data-id' => 3, :'data-title' => 'Kids'}
        %span.title Kids
      %li#galleries_empty.gallery
        %span.title Nothing Yet
  #gallery
    #gallery_fields
      = render :partial => 'fields'
    #gallery_items
      %span.note you can drag these items around to reorder them
      %ul#gallery_items_list
        -#%li#gallery_items_list_empty.gallery_item{:'data-item_id' => nil}
          %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
          %span.title Drag Items Over
        = render :partial => '/admin/galleries/items/items'
      #gallery_items_remove
        %span.title you can drop an item here to remove it

#assets_content

  %h2 Items
  %p Click on an item to add it to the gallery

  #assets

    #asset_create.asset
      %span.title New Item

    %ul#assets_list
      %li#asset_1.asset{:'data-item_id' => nil, :'data-asset_id' => 1}
        %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
        %span.title An Item
        %span.caption An Items caption is kept here in the caption area
      %li#assets_empty.asset{:'data-asset_id' => nil}
        %span.title No Items Left
        %sapn.caption Create an item to get started
        
#galleries_routes{:style => 'display: none'}
  %input{:id=>'gallery_items_path', :value => '/admin/galleries/items.haml', :type => 'hidden'}
  %input{:id=>'create_gallery_item_path', :value => '/admin/galleries/items/create', :type => 'hidden'}
  %input{:id=>'remove_gallery_item_path', :value => '/admin/galleries/items/delete', :type => 'hidden'} 
  %input{:id=>'reorder_gallery_item_path', :value => '/admin/galleries/items/reorder', :type => 'hidden'} 