%li#gallery_item_2.gallery_item{:'data-item_id' => 2, :'data-asset_it' => 3}
  %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
  %span.title Item 2
  %span.caption An Items caption is kept here in the caption area
%li#gallery_item_3.gallery_item{:'data-item_id' => 3, :'data-asset_it' => 4}
  %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
  %span.title Item 3
  %span.caption An Items caption is kept here in the caption area
%li#gallery_item_4.gallery_item{:'data-item_id' => 4, :'data-asset_it' => 5}
  %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
  %span.title Item 4
  %span.caption An Items caption is kept here in the caption area