%li#gallery_item_1.gallery_item{:'data-item_id' => 1, :'data-asset_it' => 2}
  %img{:src => '/images/admin/placeholder.png', :alt => 'placeholder image'}
  %span.title Item 1
  %span.caption An Items caption is kept here in the caption area