%li.item{:id => "item_#{excerpt.id}", :'data-id' => excerpt.id}
  .wrapper
    %span.buffer
    %img.item{:src => excerpt.asset.thumbnail(:thumbnail), :alt => excerpt.asset.title}
  .actions
    %span.delete