%li.gallery_item{:id => "gallery_item_#{item.id}", :'data-item_id' => item.id, :'data-asset_it' => item.image.id}
  %img{:src => item.image.thumbnail(:thumbnail), :alt => 'no image'}
  %span.title= item.title
  %span.caption= item.caption