#gallery_items

  %h2 Items
  %p Galleries store images
  
  - unless @galleries.empty?
    %ul#galleries_list
      - @galleries.each do |gallery|
        %li.gallery
          %span.title=gallery.title